:root {

    --primarycolor : #4A9C80;
    

    --title: 63px;

    --chelesamarket-font: "ChelesaMarket", cursive;
    --poppins-font: "Poppins", sans-serif;
    --montserrat-font: "Montserrat", cursive;
}